<div class="main-div">
    <div class="sec-div">
        <img src="../../assets/GoogleLogo.png" alt="not found" class="img-logo">
        <h1 class="head-top1">Sign in</h1>
        <h3 >to continue to Gmail</h3>
        <mat-form-field appearance="outline" class="input-box">
            <mat-label>Email or phone</mat-label>
            <input matInput placeholder="Email or phone">
        </mat-form-field>
        <button mat-button color="primary" class="forgot-btn" (click)='forgot()' routerLink="">Forgot email?</button>
        <br/>
        <br/>
        <br/>
        <h4 class="head-ctn">Not your computer? Use Guest mode to sign in privately.</h4>
        <button mat-stroked-button class="forgot-btn" color="primary">Learn more</button>
        <br/>
        <br/>
        <br/>
        <br/>
        <button mat-button color="primary" class="forgot-btn">Create account</button>
        <button mat-raised-button color="primary" class="btn-next">Next</button>
      
    </div>
    <select class="select-btn">
        <option value="English (United Kingdom)" selected>English (United Kingdom)</option>
        <option>English (United States)</option>
        <option>Afrikaans</option>
        <option>తెలుగు</option>
        <option>தமிழ்</option>
        <option>हिन्दी</option>
    </select>
    <div class="dow-btn">
        <button mat-flat-button>Help</button><button mat-flat-button>Privacy</button><button mat-flat-button>Terms</button>
    </div>
</div>
